Django
psycopg2
Pillow

redis
django-redis-cache

celery
amqp
anyjson
billiard
kombu
pytz

ipython
decorator
ipython-genutils
traitlets
ptyprocess
pexpect
backports.shutil-get-terminal-size
simplegeneric
pathlib2
pickleshare